n8n/workflows/handle-opportunity-notification-actions.json
{
  "name": "Handle Opportunity Notification Actions",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-opportunity-actions",
        "responseMode": "responseNode"
      },
      "id": "d93da4e3-c268-4c45-ab33-29ed7449d9bf",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst callback = body.callback_query ?? body.callbackQuery ?? null;\nconst rawData = String(callback?.data || '').trim();\nconst match = /^notif:([0-9a-fA-F-]{36}):(applied|saved|later|not_interested|already_done|got_project|got_job|rejected|no_response)$/.exec(rawData);\nconst responses = {\n  applied: 'Зафиксировал отклик.',\n  saved: 'Сохранил в приоритет.',\n  later: 'Отложил на потом.',\n  not_interested: 'Отметил как неинтересно.',\n  already_done: 'Отметил как уже выполненное.',\n  got_project: 'Отлично, отметил получение проекта.',\n  got_job: 'Отлично, отметил получение работы.',\n  rejected: 'Зафиксировал отказ.',\n  no_response: 'Отметил отсутствие ответа.',\n};\nreturn [{\n  json: {\n    has_supported_action: Boolean(match && callback?.id),\n    callback_query_id: callback?.id || null,\n    notification_id: match ? match[1] : null,\n    action: match ? match[2] : null,\n    callback_payload: body,\n    response_text: match ? responses[match[2]] : 'Действие сейчас недоступно.',\n  },\n}];"
      },
      "id": "47e6ad26-f708-4840-a5ec-d41fc3bd9ab6",
      "name": "Parse Callback Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_supported_action }}",
              "operation": "true"
            }
          ]
        }
      },
      "id": "4cb81a80-ea8f-49bf-8347-345e37637636",
      "name": "Callback Action Supported?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        260
      ]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "SELECT *\nFROM feedback_record_notification_action(\n  $1::uuid,\n  $2::text,\n  $3::jsonb\n);",
        "options": {
          "queryReplacement": [
            "={{ $json.notification_id }}",
            "={{ $json.action }}",
            "={{ JSON.stringify($json.callback_payload) }}"
          ]
        }
      },
      "id": "b3022ec7-b48f-494c-b5df-9081db0f1ec7",
      "name": "Record Notification Action",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1060,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.archive_required }}",
              "operation": "true"
            }
          ]
        }
      },
      "id": "d4c2278a-f67e-42f5-a8ca-149ea882bff6",
      "name": "Archive Required?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1340,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((item) => {\n  const score = item.json.archive_score === null || item.json.archive_score === undefined\n    ? ''\n    : String(Math.round(Number(item.json.archive_score)));\n  return {\n    json: {\n      archive_key: String(item.json.archive_key),\n      date: item.json.archive_date,\n      source: item.json.archive_source,\n      opportunity_type: item.json.archive_opportunity_type,\n      title: item.json.archive_title,\n      score,\n      ai_recommendation: item.json.ai_recommendation,\n      user_action: item.json.archive_user_action,\n      result: item.json.archive_result,\n      url: item.json.archive_url || '',\n    },\n  };\n});"
      },
      "id": "67ea2498-f479-4807-8b84-eb32f55e89b2",
      "name": "Build Google Sheets Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1620,
        500
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ARCHIVE_DOCUMENT_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $env.GOOGLE_SHEETS_ARCHIVE_SHEET_NAME || 'Feedback Archive' }}"
        },
        "dataMode": "autoMapInputData",
        "columnToMatchOn": "archive_key",
        "options": {}
      },
      "id": "b5fbb0cf-c355-4172-adfe-86b4ecaa89eb",
      "name": "Google Sheets | Upsert Archive",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1900,
        500
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const source = $('Build Google Sheets Row').item.json;\nconst payload = $json ?? {};\nif (payload.error) {\n  return [{\n    json: {\n      archive_key: source.archive_key,\n      has_error: true,\n      error_message: payload.error.message || 'Google Sheets archive sync failed.',\n      error_details: { error: payload.error },\n    },\n  }];\n}\nreturn [{\n  json: {\n    archive_key: source.archive_key,\n    has_error: false,\n    provider_payload: payload,\n  },\n}];"
      },
      "id": "5f0d070e-65fa-47c8-8485-87f2975c0119",
      "name": "Parse Google Sheets Sync",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_error }}",
              "operation": "true"
            }
          ]
        }
      },
      "id": "6b2487ff-12ab-46cc-a5ec-b3af2ae09444",
      "name": "Archive Sync Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2460,
        500
      ]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "SELECT *\nFROM feedback_mark_google_sheet_archive_failed(\n  $1::text,\n  $2::text,\n  COALESCE(NULLIF($3::text, ''), '{}')::jsonb\n);",
        "options": {
          "queryReplacement": [
            "={{ $json.archive_key }}",
            "={{ $json.error_message }}",
            "={{ $json.error_details ? JSON.stringify($json.error_details) : '{}' }}"
          ]
        }
      },
      "id": "54663cd5-5d71-45cb-aef9-c4a27f94501d",
      "name": "Mark Google Sheets Sync Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2740,
        380
      ]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "SELECT *\nFROM feedback_mark_google_sheet_archive_synced(\n  $1::text,\n  $2::jsonb\n);",
        "options": {
          "queryReplacement": [
            "={{ $json.archive_key }}",
            "={{ JSON.stringify($json.provider_payload || {}) }}"
          ]
        }
      },
      "id": "27a87218-b2fc-4df4-8cf1-dfdc77ee70f4",
      "name": "Mark Google Sheets Synced",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2740,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ (($env.TELEGRAM_BOT_API_BASE_URL || 'https://api.telegram.org').replace(/\\/$/, '')) + '/bot' + $env.TELEGRAM_BOT_TOKEN + '/answerCallbackQuery' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { callback_query_id: $('Parse Callback Action').first().json.callback_query_id, text: $('Parse Callback Action').first().json.response_text, show_alert: false } }}",
        "options": {
          "timeout": "={{ Number($env.TELEGRAM_REQUEST_TIMEOUT_MS || 30000) }}"
        }
      },
      "id": "9efe8ca8-271d-4ca7-b518-af1ea91f06dc",
      "name": "Respond Callback Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3020,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ (($env.TELEGRAM_BOT_API_BASE_URL || 'https://api.telegram.org').replace(/\\/$/, '')) + '/bot' + $env.TELEGRAM_BOT_TOKEN + '/answerCallbackQuery' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { callback_query_id: $('Parse Callback Action').first().json.callback_query_id, text: 'Действие сейчас недоступно.', show_alert: false } }}",
        "options": {
          "timeout": "={{ Number($env.TELEGRAM_REQUEST_TIMEOUT_MS || 30000) }}"
        }
      },
      "id": "20e40393-c514-4707-8f5a-ac7f433bcb86",
      "name": "Respond Unsupported Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        140
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { received: true, handled: true } }}"
      },
      "id": "0ef0aa9b-c31e-40d0-a6a7-b7e8dc54718b",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3300,
        260
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Callback Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback Action": {
      "main": [
        [
          {
            "node": "Callback Action Supported?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Action Supported?": {
      "main": [
        [
          {
            "node": "Respond Unsupported Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Notification Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Notification Action": {
      "main": [
        [
          {
            "node": "Archive Required?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Required?": {
      "main": [
        [
          {
            "node": "Respond Callback Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Google Sheets Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Google Sheets Row": {
      "main": [
        [
          {
            "node": "Google Sheets | Upsert Archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets | Upsert Archive": {
      "main": [
        [
          {
            "node": "Parse Google Sheets Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Google Sheets Sync": {
      "main": [
        [
          {
            "node": "Archive Sync Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Sync Failed?": {
      "main": [
        [
          {
            "node": "Mark Google Sheets Sync Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Google Sheets Synced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Google Sheets Sync Failed": {
      "main": [
        [
          {
            "node": "Respond Callback Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Google Sheets Synced": {
      "main": [
        [
          {
            "node": "Respond Callback Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Callback Action": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Unsupported Action": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Moscow",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  },
  "active": false,
  "meta": null
}
