n8n/workflows/maintain-working-memory-retention.json
{
  "name": "Maintain Working Memory Retention",
  "nodes": [
    {
      "parameters": {},
      "id": "1308cb14-a9e0-444a-9197-f77fdf3fd51b",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        180
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "15 3 * * *"
            }
          ]
        }
      },
      "id": "3b7b75a6-cecd-4d97-8af5-d51893997f24",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const first = $input.all()[0]?.json ?? {};\nconst triggerMode = Object.keys(first).length > 0 ? 'schedule' : 'manual';\nconst retentionDays = Number($env.WORKING_MEMORY_RETENTION_DAYS || 60);\nconst startedAt = new Date().toISOString();\nreturn [{\n  json: {\n    workflow_name: 'Maintain Working Memory Retention',\n    triggered_by: triggerMode,\n    started_at_utc: startedAt,\n    retention_days: Number.isFinite(retentionDays) && retentionDays > 0 ? retentionDays : 60,\n  },\n}];"
      },
      "id": "c9268011-a0e4-4716-b520-93edb4bbcc4e",
      "name": "Init Retention Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        260
      ]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "SELECT *\nFROM feedback_purge_expired_working_memory(\n  COALESCE(NULLIF($1::text, '')::integer, 60)\n);",
        "options": {
          "queryReplacement": [
            "={{ String($json.retention_days) }}"
          ]
        }
      },
      "id": "fb79444f-165a-4795-8945-e02cb93f289e",
      "name": "Purge Expired Working Memory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        260
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Init Retention Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Init Retention Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Retention Context": {
      "main": [
        [
          {
            "node": "Purge Expired Working Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Moscow",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  },
  "active": false,
  "meta": null
}
