n8n/workflows/send-opportunity-notifications.json
{
  "name": "Send Opportunity Notifications",
  "nodes": [
    {
      "parameters": {},
      "id": "b1db4d8d-1665-4402-ae64-aec34054f344",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        180
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "a1605f61-55c0-4829-97a9-33e127b475ea",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const first = $input.all()[0]?.json ?? {};\nconst triggerMode = Object.keys(first).length > 0 ? 'schedule' : 'manual';\nconst batchSize = Number($env.TELEGRAM_NOTIFICATION_BATCH_SIZE || 10);\nconst retryDelayMinutes = Number($env.TELEGRAM_NOTIFICATION_RETRY_DELAY_MINUTES || 30);\nconst lockTimeoutMinutes = Number($env.TELEGRAM_NOTIFICATION_LOCK_TIMEOUT_MINUTES || 30);\nconst startedAt = new Date().toISOString();\nreturn [{\n  json: {\n    workflow_name: 'Send Opportunity Notifications',\n    triggered_by: triggerMode,\n    started_at_utc: startedAt,\n    profile_slug: $env.TELEGRAM_NOTIFICATION_PROFILE_SLUG || '',\n    batch_size: Number.isFinite(batchSize) && batchSize > 0 ? batchSize : 10,\n    retry_delay_minutes: Number.isFinite(retryDelayMinutes) && retryDelayMinutes > 0 ? retryDelayMinutes : 30,\n    lock_timeout_minutes: Number.isFinite(lockTimeoutMinutes) && lockTimeoutMinutes > 0 ? lockTimeoutMinutes : 30,\n    bot_name: $env.TELEGRAM_BOT_NAME || 'Ri assistant',\n    inline_actions_enabled: String($env.TELEGRAM_INLINE_ACTIONS_ENABLED || 'false').toLowerCase() === 'true',\n    lock_token: `telegram-delivery:${startedAt}`,\n  },\n}];"
      },
      "id": "e90c6712-53e3-4301-9778-b64960f44e6f",
      "name": "Init Delivery Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        260
      ]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "SELECT *\nFROM delivery_sync_telegram_outbox(\n  NULLIF($1::text, '')\n);",
        "options": {
          "queryReplacement": [
            "={{ $json.profile_slug }}"
          ]
        }
      },
      "id": "7f492d20-a02d-4ac2-8345-bf538ea6a076",
      "name": "Sync Telegram Outbox",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        260
      ]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "SELECT *\nFROM delivery_claim_notification_batch(\n  COALESCE(NULLIF($1::text, '')::integer, 10),\n  NULLIF($2::text, ''),\n  COALESCE(NULLIF($3::text, '')::integer, 30)\n);",
        "options": {
          "queryReplacement": [
            "={{ String($('Init Delivery Context').first().json.batch_size) }}",
            "={{ $('Init Delivery Context').first().json.lock_token }}",
            "={{ String($('Init Delivery Context').first().json.lock_timeout_minutes) }}"
          ]
        }
      },
      "id": "8aee515a-5cb0-4224-a4e6-d453d3507a17",
      "name": "Claim Notification Batch",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1080,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const context = $('Init Delivery Context').first().json;\nconst toArray = (value) => {\n  if (!value) {\n    return [];\n  }\n  if (Array.isArray(value)) {\n    return value;\n  }\n  if (typeof value === 'string') {\n    try {\n      const parsed = JSON.parse(value);\n      return Array.isArray(parsed) ? parsed : [];\n    } catch (error) {\n      return [];\n    }\n  }\n  return [];\n};\nconst mapOpportunityType = (value) => {\n  switch (value) {\n    case 'vacancy':\n    case 'part_time':\n      return 'job';\n    case 'freelance_order':\n    case 'one_time_task':\n      return 'freelance';\n    case 'project':\n    case 'automation_request':\n    case 'n8n_task':\n    case 'telegram_bot_task':\n    case 'openai_task':\n    case 'business_automation_task':\n      return 'project';\n    default:\n      return value || 'other';\n  }\n};\nconst formatBudget = (minValue, maxValue, currency) => {\n  const min = minValue ?? null;\n  const max = maxValue ?? null;\n  const code = currency || '';\n  if (min === null && max === null) {\n    return 'не указана';\n  }\n  if (min !== null && max !== null) {\n    return `${min}-${max}${code ? ` ${code}` : ''}`;\n  }\n  if (min !== null) {\n    return `от ${min}${code ? ` ${code}` : ''}`;\n  }\n  return `до ${max}${code ? ` ${code}` : ''}`;\n};\nconst renderList = (title, items, emptyLabel = '— нет явных пунктов') => {\n  const normalized = items.filter(Boolean).slice(0, 2);\n  return `${title}\\n${normalized.length ? normalized.map((item) => `— ${String(item).trim()}`).join('\\n') : emptyLabel}`;\n};\nreturn $input.all().map((item) => {\n  const whyFit = toArray(item.json.why_fit);\n  const risks = toArray(item.json.risks);\n  const score = Number(item.json.opportunity_score || 0);\n  const title = String(item.json.title || 'Без названия').trim();\n  const sourceName = String(item.json.source_name || item.json.source_type || 'unknown').trim();\n  const action = String(item.json.recommended_action || 'review_manually').trim();\n  const opportunityType = mapOpportunityType(String(item.json.opportunity_type || '').trim());\n  const budgetText = formatBudget(item.json.budget_min, item.json.budget_max, item.json.currency);\n  const lines = [\n    '🔥 Новая возможность',\n    '',\n    `Тип: ${opportunityType}`,\n    `Источник: ${sourceName}`,\n    `Название: ${title}`,\n    `Score: ${Math.round(score)}`,\n    `Действие: ${action}`,\n    '',\n    renderList('Почему подходит:', whyFit),\n    '',\n    renderList('Риски:', risks),\n    '',\n    `Оплата: ${budgetText}`,\n  ];\n  if (item.json.url) {\n    lines.push('', `Ссылка: ${item.json.url}`);\n  }\n  const keyboard = [];\n  if (item.json.url) {\n    keyboard.push([{ text: 'Открыть', url: item.json.url }]);\n  }\n  if (context.inline_actions_enabled) {\n    keyboard.push([\n      { text: 'Сохранить', callback_data: `notif:${item.json.notification_id}:save` },\n      { text: 'Не интересно', callback_data: `notif:${item.json.notification_id}:not_interested` }\n    ]);\n    keyboard.push([\n      { text: 'Позже', callback_data: `notif:${item.json.notification_id}:later` }\n    ]);\n  }\n  return {\n    json: {\n      notification_id: item.json.notification_id,\n      retry_delay_minutes: context.retry_delay_minutes,\n      chat_id: String(item.json.chat_id),\n      telegram_request: {\n        chat_id: String(item.json.chat_id),\n        text: lines.join('\\n'),\n        disable_web_page_preview: true,\n        reply_markup: keyboard.length ? { inline_keyboard: keyboard } : undefined,\n      },\n    },\n  };\n});"
      },
      "id": "6a36ef07-a306-4457-b44b-282e356a12a1",
      "name": "Build Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ (($env.TELEGRAM_BOT_API_BASE_URL || 'https://api.telegram.org').replace(/\\/$/, '')) + '/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.telegram_request }}",
        "options": {
          "timeout": "={{ Number($env.TELEGRAM_REQUEST_TIMEOUT_MS || 30000) }}"
        }
      },
      "id": "038f8fb7-bdae-41a4-bbd8-8ce2b975be1d",
      "name": "Telegram | Send Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1640,
        260
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const source = $('Build Telegram Message').item.json;\nconst payload = $json ?? {};\nif (payload.error) {\n  return [{\n    json: {\n      notification_id: source.notification_id,\n      retry_delay_minutes: source.retry_delay_minutes,\n      has_error: true,\n      error_message: payload.error.message || 'Telegram API request failed.',\n      error_details: { error: payload.error },\n    },\n  }];\n}\nif (payload.ok !== true || !payload.result?.message_id) {\n  return [{\n    json: {\n      notification_id: source.notification_id,\n      retry_delay_minutes: source.retry_delay_minutes,\n      has_error: true,\n      error_message: 'Telegram API returned an unsuccessful response.',\n      error_details: { response: payload },\n    },\n  }];\n}\nreturn [{\n  json: {\n    notification_id: source.notification_id,\n    retry_delay_minutes: source.retry_delay_minutes,\n    has_error: false,\n    telegram_message_id: String(payload.result.message_id),\n    telegram_response: payload,\n  },\n}];"
      },
      "id": "41b29d50-4b04-4ce4-b02d-a93faea56e6f",
      "name": "Parse Telegram Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_error }}",
              "operation": "true"
            }
          ]
        }
      },
      "id": "029fa17b-5281-4ce4-a8c9-3cfdc6627959",
      "name": "Delivery Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2200,
        260
      ]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "SELECT *\nFROM delivery_mark_notification_failed(\n  $1::uuid,\n  $2::text,\n  COALESCE(NULLIF($3::text, ''), '{}')::jsonb,\n  COALESCE(NULLIF($4::text, '')::integer, 30),\n  5\n);",
        "options": {
          "queryReplacement": [
            "={{ $json.notification_id }}",
            "={{ $json.error_message }}",
            "={{ $json.error_details ? JSON.stringify($json.error_details) : '{}' }}",
            "={{ String($json.retry_delay_minutes || 30) }}"
          ]
        }
      },
      "id": "7f08f52c-8e7f-41c0-963c-3beae0e57c6c",
      "name": "Mark Notification Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2480,
        140
      ]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "SELECT *\nFROM delivery_mark_notification_sent(\n  $1::uuid,\n  NULLIF($2::text, ''),\n  $3::jsonb\n);",
        "options": {
          "queryReplacement": [
            "={{ $json.notification_id }}",
            "={{ $json.telegram_message_id || '' }}",
            "={{ JSON.stringify($json.telegram_response) }}"
          ]
        }
      },
      "id": "588d3ff7-c8bb-4655-b2f6-1944b89a936f",
      "name": "Mark Notification Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2480,
        380
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Init Delivery Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Init Delivery Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Delivery Context": {
      "main": [
        [
          {
            "node": "Sync Telegram Outbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Telegram Outbox": {
      "main": [
        [
          {
            "node": "Claim Notification Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Notification Batch": {
      "main": [
        [
          {
            "node": "Build Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Message": {
      "main": [
        [
          {
            "node": "Telegram | Send Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram | Send Opportunity": {
      "main": [
        [
          {
            "node": "Parse Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Telegram Response": {
      "main": [
        [
          {
            "node": "Delivery Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Failed?": {
      "main": [
        [
          {
            "node": "Mark Notification Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Notification Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Moscow",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  },
  "active": false,
  "meta": null
}
